
#header {
	width:100%;
	clear: both; 
	height: 70px;
}

#header-links {
	width:50%;
	float: left;
	height: 100%;
}

#header-background {
	width: 200px;
	margin-bottom:0px;
	margin-left: 150px;
	background-color:#4FA9A4;
	height: 70px; 
	text-align: center;
}

.name {
	color:white;
	font-size: 24px;
	padding-top: 25px;
}

#links {
	width:50%;
	float:left;
}

.navigationlinks {
	margin-left: 150px;
	margin-top: 20px;
}

#aboutme {
	width:100%;
	clear: both;
}

#content {
	width: 60%; 
 	float:left;
 	background-color: #ffffff;
}

#pic {
	width:500px;
	margin-left: 150px;
}

#mypic {
	float:left;
}

#connect {
	width: 300px;
	float:left;
}

input[type=text], textarea {
	width: 70%;
	padding: 12px;
	border: 1px solid #dddddd;
	border-radius: 2px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 15px;
	resize: scroll;
}

input[type=submit] {
	background-color: #4aaaa5;
	font-color: #777777;
	color: white;
	padding: 12px 20px;
	border-radius: 5px;
}


.github {
	height: 50px;
	width: 50px;
}

.linkedin {
	height: 50px;
	width: 50px;
}

.stackoverflow {
	height: 48px;
	width: 50px;
}

#pics {
	float: left;
}

.placeholder1, .placeholder2, .placeholder3, .placeholder4, .placeholder5 {
	height: 100px;
	width: 100px;
	float: left;
}

.footer {
	position: fixed;
	width: 100%;
	clear: both;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	border-top: 8px solid #4aaaa5;
  	background-color: #666666;
  	text-align: center;
}


